/* FONTS --------------------------------------- */
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* VARIABLES --------------------------------------- */
:root {
  /* Colors */
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);

  /* Fonts */
  --fs-14: 0.875rem;
  --fs-24: 1.5rem;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --ff-base: "Inter", sans-serif;
}

/* RESET --------------------------------------- */
/* Box sizing rules */
*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles on ul, ol elements */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  position: absolute;
}

/* GENERAL --------------------------------------- */
body {
  background-color: var(--clr-grey-800);
  font-family: var(--ff-base);
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
  line-height: 1.5;

  display: flex;
  justify-content: center;
  margin: auto;
}

.container {
  width: min(100%, calc(1440 / 16 * 1rem));
  background-color: var(--clr-grey-900);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--clr-grey-800);
  padding: 1.5rem;
  width: calc(327 / 16 * 1rem);
  border-radius: 0.75rem;
  text-align: center;

  display: grid;
  gap: 1.5rem;
}

/* Image Avatar */
.avatar {
  justify-self: center;
  width: 5.5rem;
  height: 5.5rem;
}
.avatar > img {
  border-radius: 100%;
}

/* Name and location */
.card__name {
  font-size: var(--fs-24);
  font-weight: var(--fw-semi-bold);
  margin-bottom: 4px;
}
.card__location {
  color: var(--clr-green);
}

/* Link Social Media */
.card__link {
  display: grid;
  gap: 1rem;
}
.card__link li > a {
  background-color: var(--clr-grey-700);
  color: var(--clr-white);
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  min-height: 2.8125rem;
  padding: 0.75rem;
  cursor: pointer;
  display: block;
  transition: background-color 300ms ease-in-out;
}

.card__link li > a:hover,
.card__link li > a:focus-visible {
  background-color: var(--clr-green);
  color: var(--clr-grey-700);
}

.card__link li > a:focus-visible {
  outline: 3px solid var(--clr-white);
  outline-offset: 3px;
}

/* Media queries */
@media screen and (min-width: 375px) {
  .card {
    padding: 2.5rem;
    width: calc(384 / 16 * 1rem);
  }
}
